body {
    background-color: lightblue;
}

h2 {
    color: navy;
	font-weight: bold;
	font-size: 4em;
}

#GAMEBOARD {
	width: 100%;
	background-color: #0000e6;
	border-radius: 15px;
}

.one, .two, .three, .four, .five, .six, .seven {
	border: 2px solid black;
	border-radius: 80px;
	display: inline-block;
	margin: 10px;
	background-color: white;
	width: 100px;
	height: 100px;
	cursor: pointer;
}


#row1, #row2, #row3, #row4, #row5, #row6 {
	display: block;
}



